.suggestion{
    display : grid;
    grid-template-columns: 32px 2fr 1fr;
    align-items: center;
    margin-bottom: 0.5em;

    .avatar{
        justify-self: center;
        margin-right: 0.5em;

    }
    .username{
        margin-left: 1em;
        font-weight: bold;
    }
    .action{
        justify-self: right;
    }

    .gray{
        color:#8e8e8e;
    }

    .follow{
        color:#0095F6;
    }

    .cursor{
        cursor: pointer;
    }
}